classes
.idea
*.iml
build
### macOS ###
*.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon
# Thumbnails
._*
# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
html/extend.console.uninstall.services.yml
kubernetes/local/envSecret.sh
kubernetes/kubernetes/local/volumes
html/sites/default/files

node_modules
!.idea/icon.svg